


        /* 设置全局字体和背景颜色 */
        body {
            font-family: Arial, sans-serif; /* 使用 Arial 字体 */
            margin: 0; /* 移除默认外边距 */
            padding: 0; /* 移除默认内边距 */
            background-color: #112d4e; /* 设置深蓝色背景 */
            display: flex; /* 使用 flex 布局 */
            flex-direction: column; /* 垂直排列子元素 */
            min-height: 100vh; /* 设置最小高度为 100% 视口高度 */
        }

        /* 主内容部分样式 */
        main {
            flex: 1; /* 使 main 元素占据剩余空间 */
            display: flex; /* 使用 flex 布局 */
            flex-direction: column; /* 垂直排列子元素 */
            justify-content: center; /* 垂直居中对齐 */
            align-items: center; /* 水平居中对齐 */
            padding: 20px; /* 设置内边距 */
        }

        /* 域名展示部分样式 */
        .domains {
            display: flex; /* 使用 flex 布局 */
            flex-wrap: wrap; /* 子元素换行 */
            justify-content: center; /* 水平居中对齐 */
            gap: 40px; /* 设置子元素之间的间距 */
            margin-top: 80px; /* 移除默认顶部外边距 */
			margin-bottom: 250px; /* 底部外边距 */
        }

        /* 每个域名块样式 */
        .domain {
            background-color: #3f72af; /* 设置蓝色背景 */
            padding: 20px; /* 设置内边距 */
            border-radius: 5px; /* 设置圆角 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 设置外阴影效果 */
            text-align: center; /* 文字居中对齐 */
            transition: box-shadow 0.5s, transform 0.5s ease-in-out; /* 设置阴影和缩放效果的过渡时间 */
            width: 200px; /* 设置固定宽度为 200px */
            height: 100px; /* 设置固定高度为 100px */
            color: #f9f7f7; /* 设置白色文字 */
            display: flex; /* 使用 flex 布局 */
            flex-direction: column; /* 垂直排列子元素 */
            justify-content: center; /* 垂直居中对齐 */
            align-items: center; /* 水平居中对齐 */
        }

        /* 鼠标悬停在域名块上的样式 */
        .domain:hover {
            box-shadow: inset 0 0 15px rgb(255, 255, 255); /* 设置更亮更鲜艳的内发光阴影效果 */
            transform: scale(1.2); /* 鼠标悬停时放大 20% */
        }

        /* 域名标题样式 */
        .domain h2 {
            margin: 10px 0; /* 设置上下外边距 10px */
        }

        /* 页脚样式 */
        footer {
            color: #f9f7f7; /* 设置白色文字 */
            text-align: center; /* 文字居中对齐 */
            padding: 10px 0; /* 设置上下内边距 10px */
        }

        /* 页脚链接样式 */
        footer a {
            color: #dbe2ef; /* 设置浅蓝色链接 */
            text-decoration: none; /* 移除链接下划线 */
        }

        /* 响应式设计：手机端将域名块竖排展示，并上移 */
        @media (max-width: 600px) {
            .domains {
                flex-direction: column; /* 垂直排列子元素 */
				margin-bottom: 0px; /* 底部外边距 */
            }
            .fishol {
				margin-top: 50px; /* 顶部外边距 */
				margin-bottom: 40px; /* 底部外边距 */
            }
        }

        /* 链接样式，确保链接不会影响 div 样式 */
        a.domain-link {
            text-decoration: none; /* 移除链接下划线 */
            color: inherit; /* 继承父元素颜色，保持样式一致 */
        }