<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^fishol.cn$ [NC,OR]
RewriteCond %{HTTP_HOST} ^fisholblog.gotoip2.com$ 
RewriteRule ^(.*)$ http://www.fishol.cn/$1 [R=301,L]
</IfModule>
